Repository Celli119/rustler: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, rustfmt, tsgo, oxlint, oxfmt

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

rustfmt:
  name: rustfmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

tsgo:
  name: tsgo
  entry: bun run typecheck
  language: system
  pass_filenames: false

oxlint:
  name: oxlint
  entry: bun run lint
  language: system
  pass_filenames: false

oxfmt:
  name: oxfmt
  entry: bun run format:check
  language: system
  pass_filenames: false

ci: update workflows for master branch and add Linux dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: oxfmt

feat: redesign UI with tabbed layout and dark mode
  src/App.tsx
  src/components/SettingsPanel.tsx
  src/components/ThemeProvider.tsx
  src/components/ThemeToggle.tsx
  src/components/__tests__/SettingsPanel.test.tsx
  src/components/index.ts
  src/components/layout/AppHeader.tsx
  src/components/layout/AppLayout.tsx
  src/components/layout/TabNavigation.tsx
  src/components/tabs/HistoryTab.tsx
  src/components/tabs/ModelsTab.tsx
  src/components/tabs/RecordingTab.tsx
  src/components/tabs/SettingsTab.tsx
  src/index.css
  src/main.tsx
  src/stores/themeStore.ts
Due: tsgo, oxlint, oxfmt

feat: add rusty theme, frameless window, and XWayland clipboard support
  src-tauri/src/clipboard/linux.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/components/layout/AppHeader.tsx
  src/index.css
Due: clippy, rustfmt, tsgo, oxlint, oxfmt

ci: add clipboard tool dependencies for Linux builds
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src-tauri/tauri.conf.json
Due: oxfmt

feat: add model caching with auto-unload after 5 min idle
  src-tauri/src/clipboard/linux.rs
  src-tauri/src/commands/transcription.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/whisper/cache.rs
  src-tauri/src/whisper/mod.rs
  src-tauri/src/whisper/transcriber.rs
  src/components/layout/AppHeader.tsx
Due: clippy, rustfmt, tsgo, oxlint, oxfmt

feat: improve UI layout with centered tabs and redesigned model selector
  src/components/ModelSelector.tsx
  src/components/tabs/HistoryTab.tsx
  src/components/tabs/ModelsTab.tsx
  src/components/tabs/RecordingTab.tsx
  src/components/tabs/SettingsTab.tsx
Due: tsgo, oxlint, oxfmt

feat: replace window.confirm with shadcn AlertDialog for clear history
  src/components/tabs/HistoryTab.tsx
Due: tsgo, oxlint, oxfmt

fix: register hotkey on app startup instead of tab visit
  src/components/layout/AppLayout.tsx
Due: tsgo, oxlint, oxfmt

fix: move hotkey listener to app level for immediate availability
  src/components/layout/AppLayout.tsx
  src/hooks/useHotkeyListener.ts
  src/hooks/useRecording.ts
Due: tsgo, oxlint, oxfmt

fix: gpu toggle now properly controls transcription acceleration
  src-tauri/Cargo.toml
  src-tauri/src/commands/settings.rs
  src-tauri/src/commands/transcription.rs
  src-tauri/src/whisper/cache.rs
  src/hooks/useSettings.ts
Due: clippy, rustfmt, tsgo, oxlint, oxfmt

fix: model download progress now updates in UI
  src-tauri/src/commands/models.rs
Due: clippy, rustfmt

fix: enable window controls and dynamic maximize icon
  src-tauri/capabilities/default.json
  src/components/layout/AppHeader.tsx
Due: tsgo, oxlint, oxfmt

feat: add wavy rusty background and glassmorphism UI
  src-tauri/tauri.conf.json
  src/components/TranscriptionItem.tsx
  src/components/WavyBackground.tsx
  src/components/layout/AppHeader.tsx
  src/components/layout/AppLayout.tsx
  src/components/layout/TabNavigation.tsx
  src/components/tabs/HistoryTab.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/index.css
Due: tsgo, oxlint, oxfmt

perf: use WebGL shaders for wavy background animation
  src/components/WavyBackground.tsx
Due: tsgo, oxlint, oxfmt

Revert "perf: use WebGL shaders for wavy background animation"
  src/components/WavyBackground.tsx
Due: tsgo, oxlint, oxfmt

feat: redesign overlay button with animated rusty dune icon
  src/components/OverlayButton.tsx
Due: tsgo, oxlint, oxfmt

feat: replace header mic icon with dune icon
  src/components/layout/AppHeader.tsx
Due: tsgo, oxlint, oxfmt

fix: smooth pixelated edges on circular dune icons
  src/components/OverlayButton.tsx
  src/components/layout/AppHeader.tsx
Due: tsgo, oxlint, oxfmt

feat: improve Wayland hotkey support with portal dialog reset
  src-tauri/src/commands/hotkey.rs
  src-tauri/src/hotkey/wayland.rs
  src-tauri/src/lib.rs
  src/hooks/useSettings.ts
  src/lib/tauri.ts
Due: clippy, rustfmt, tsgo, oxlint, oxfmt

feat: update app icons with dune design and fix blank audio
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/dune-icon.svg
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/src/commands/transcription.rs
  src/hooks/useRecording.ts
  src/hooks/useRecordingState.ts
Due: clippy, rustfmt, tsgo, oxlint, oxfmt

feat: enable click-through for overlay transparent areas
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/tauri.conf.json
  src/components/OverlayButton.tsx
Due: tsgo, oxlint, oxfmt

feat: add option to show overlay only during recording
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/commands/overlay.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src/components/OverlayButton.tsx
  src/components/tabs/SettingsTab.tsx
  src/components/ui/alert.tsx
  src/lib/tauri.ts
  src/stores/appStore.ts
  src/test/mocks/tauri.ts
  vite.config.ts
Due: clippy, rustfmt, tsgo, oxlint, oxfmt

fix: add backend settings cache and prevent duplicate hotkey registration
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/overlay.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src/components/OverlayButton.tsx
  src/hooks/useSettings.ts
Due: clippy, rustfmt, tsgo, oxlint, oxfmt

fix: make hotkey registration non-blocking on startup
  src/hooks/useSettings.ts
Due: tsgo, oxlint, oxfmt

docs: add README with badges and documentation
  README.md
Due: oxfmt

chore: add coverage badge, cleanup docs, fix test mocks
  .github/workflows/ci.yml
  BACKEND_REFERENCE.md
  COMPONENT_USAGE.md
  DATA_FLOW.md
  FILES_CREATED.md
  FRONTEND_README.md
  FRONTEND_SETUP_SUMMARY.md
  FRONTEND_STRUCTURE.md
  PROJECT_STRUCTURE.md
  PROJECT_TREE.txt
  QUICKSTART.md
  README.md
  package.json
  src/lib/utils.test.ts
  src/test/mocks/tauri.ts
Due: tsgo, oxlint, oxfmt

ci: add Rust test coverage with cargo-llvm-cov
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
Due: oxfmt

chore: use husky to trigger pre-commit hooks
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
Due: oxfmt

chore: switch to lint-staged for pre-commit hooks
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
  bun.lock
  package.json
Due: oxfmt

chore: add clippy to lint-staged for Rust files
  package.json
Due: oxfmt

chore: add @vitest/coverage-v8 for test coverage
  bun.lock
  package.json
Due: oxfmt

fix: resolve clippy warnings and add MIT LICENSE
  LICENSE
  package.json
  src-tauri/src/audio/recorder.rs
  src-tauri/src/commands/transcription.rs
  src-tauri/src/hotkey/wayland.rs
  src-tauri/src/whisper/transcriber.rs
Due: clippy, rustfmt, oxfmt

fix: update tests to match current implementations and fix macOS runner
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src/components/__tests__/ModelSelector.test.tsx
  src/hooks/__tests__/useRecording.test.ts
Due: tsgo, oxlint, oxfmt

ci: add CUDA toolkit installation for whisper-rs cuda feature
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: oxfmt

ci: update cuda-toolkit action to v0.2.22 for CUDA 12.6.3 support
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: oxfmt

ci: fix CUDA/Metal build configuration
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src-tauri/Cargo.toml
Due: oxfmt

ci: use local CUDA installation method for full toolkit
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: oxfmt

ci: use network CUDA install with minimal packages (nvcc, cudart, cublas)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: oxfmt

ci: build macOS without GPU acceleration (workaround for whisper.cpp i8mm issue)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: oxfmt

Path conditions:
  clippy: any of: \.rs$
  rustfmt: any of: \.rs$
  tsgo: any of: \.(ts|mts|cts)$, \.tsx$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  oxfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$
