Repository Celli119/rustler: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, oxlint, oxfmt, typecheck

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system
  pass_filenames: true

clippy:
  name: clippy
  entry: cargo clippy --manifest-path src-tauri/Cargo.toml --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

oxlint:
  name: oxlint
  entry: bun run lint
  language: system
  pass_filenames: false

oxfmt:
  name: oxfmt
  entry: bun run format:check
  language: system
  pass_filenames: false

typecheck:
  name: typecheck
  entry: bun run typecheck
  language: system
  pass_filenames: false

ci: fix CUDA cublas package installation
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: fix macOS ARM64 i8mm build error and always save cache
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: fix Windows CUDA and Ubuntu linuxdeploy issues
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: run tests without CUDA feature
  .github/workflows/ci.yml
Due: none

ci: fix libayatana-appindicator deprecation warning
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: fix cache-on-failure and update configs
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src-tauri/tauri.conf.json
Due: oxfmt

ci: fix Ubuntu AppImage bundling and macOS i8mm issues
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: update clipboard handling and import statements for Windows API
  src-tauri/Cargo.toml
  src-tauri/src/clipboard/windows.rs
Due: rustfmt, clippy

fix: improve test directory creation and ensure models directory exists
  src-tauri/src/models/downloader.rs
Due: rustfmt, clippy

feat: replace overlay with tray icon + notifications, fix hotkey and freeze
  overlay.html
  package.json
  src-tauri/.serena/project.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/icons/32x32-recording.png
  src-tauri/icons/dune-icon-recording.svg
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/overlay.rs
  src-tauri/src/commands/recording.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/hotkey/wayland.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/components/HotkeyConfig.tsx
  src/components/OverlayButton.tsx
  src/components/PillOverlay.tsx
  src/components/ThemeProvider.tsx
  src/components/__tests__/PillOverlay.test.tsx
  src/components/index.ts
  src/components/tabs/SettingsTab.tsx
  src/hooks/useRecordingState.ts
  src/lib/tauri.ts
  src/main.tsx
  src/overlay.tsx
  src/stores/appStore.ts
  src/test/mocks/tauri.ts
  vite.config.ts
Due: rustfmt, clippy, oxlint, oxfmt, typecheck

feat: minimize to tray on close, fix duplicate launcher entries, add license
  LICENSE
  src-tauri/resources/Rustler-hidden.desktop
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
Due: rustfmt, clippy, oxfmt

feat: open GNOME shortcut dialog directly on Wayland
  src-tauri/src/commands/hotkey.rs
  src-tauri/src/hotkey/wayland.rs
  src/components/HotkeyConfig.tsx
  src/hooks/useSettings.ts
  src/lib/tauri.ts
Due: rustfmt, clippy, oxlint, oxfmt, typecheck

ci: temporarily restrict CI build matrix to Linux only
  .github/workflows/ci.yml
Due: none

fix: wayland portal compatibility and WebKitGTK freeze
  package.json
  src-tauri/resources/com.rustler.desktop.desktop
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: rustfmt, clippy, oxfmt

feat: add splash screen to prevent white flash on startup
  index.html
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/ThemeProvider.tsx
Due: oxlint, oxfmt, typecheck

fix: regenerate app icons with correct dune gradients
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/tauri.conf.json
Due: oxfmt

ci: temporarily restrict release build matrix to Linux only
  .github/workflows/release.yml
Due: none

feat: improve splash screen styling and add background color
  index.html
  src-tauri/tauri.conf.json
Due: oxfmt

style: fix rustfmt formatting in windows clipboard and downloader
  src-tauri/src/clipboard/windows.rs
  src-tauri/src/models/downloader.rs
Due: rustfmt, clippy

docs: overhaul README with animated demo, features, and tech stack
  README.md
  assets/demo.gif
  scripts/capture-demo.sh
  scripts/record-demo.sh
Due: none

ci: replace rust-cache with sccache for faster builds
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: fix codecov coverage uploads
  .github/workflows/ci.yml
  vitest.config.ts
Due: oxlint, oxfmt, typecheck

fix: set semantic-release branch to master
  .releaserc.json
Due: oxfmt

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: oxfmt

Notes added by 'git notes add'
  1887a7fd1c8d644c5b00d48e97533322d7987691
Due: none

fix: use semantic-release-action to properly publish release bundles
  .github/workflows/release.yml
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: oxfmt

Notes added by 'git notes add'
  32ce4070b9b4c41ad504c1d0d6251a64b6d2be36
Due: none

fix: gate release on CI success and fix changelog formatting
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

ci: cancel in-progress runs when a new push arrives
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: add CODECOV_TOKEN for coverage uploads
  .github/workflows/ci.yml
Due: none

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: oxfmt

Notes added by 'git notes add'
  5d47c293a5836f31d4d9c1ddd1ca3674673e8379
Due: none

feat: use language setting for transcription and add translate toggle
  assets/logo-icon.png
  assets/logo-icon.svg
  assets/logo.png
  assets/logo.svg
  assets/social-preview.png
  assets/social-preview.svg
  src-tauri/src/commands/settings.rs
  src-tauri/src/commands/transcription.rs
  src/components/tabs/SettingsTab.tsx
  src/lib/tauri.ts
  src/stores/appStore.ts
Due: rustfmt, clippy, oxlint, oxfmt, typecheck

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  oxfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  typecheck: any of: \.(ts|mts|cts)$, \.tsx$
